<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="viessmannAdr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="viessmannAdr.Properties.Settings.ecnViessmannConnectionString2" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Program Files\Viessmann Vitosoft 300 SID1\ServiceTool\Database - Kopie\ecnViessmann.mdf&quot;;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="ViessmannEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=&quot;C:\Program Files\Viessmann Vitosoft 300 SID1\ServiceTool\Database - Kopie\ecnViessmann.mdf&quot;;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <viessmannAdr.Properties.Settings>
      <setting name="TextRessourcePath" serializeAs="String">
        <value>C:\Program Files\Viessmann Vitosoft 300 SID1\ServiceTool\Web\XmlDocuments</value>
      </setting>
      <setting name="OutputLang" serializeAs="String">
        <value>de</value>
      </setting>
      <setting name="EventTypePath" serializeAs="String">
        <value>C:\Program Files\Viessmann Vitosoft 300 SID1\ServiceTool\MobileClient\Config</value>
      </setting>
    </viessmannAdr.Properties.Settings>
  </applicationSettings>
</configuration>